node_modules/
.vscode/
.expo/*
.yarn
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.xnft-bundle/
xnft-bundle.zip

# macOS
.DS_Store
/.idea/.gitignore
/manifest.zip
/.idea/modules.xml
/.idea/vcs.xml
/.idea/xnft-tic-tac-toe.iml
